.feynman {
  display: flex;
  flex-direction: column;
  position: relative;
  background: rgba(242, 242, 242, 255);
  font-family: "Roboto", sans-serif;
  padding-top: 100px;
  padding-bottom: 132px;
  z-index: 2;
}

.feynman__content_image {
  position: absolute;
  top: 200px;
  left: 40px;
  width: 600px;
  height: 600px;
  align-self: flex-start;
  z-index: 1;
}

.feynman__content {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: 2fr 1fr;
  grid-template-areas:
    "title ."
    "content-title content-seletor";
  align-self: center;
  align-items: baseline;
  width: 80%;
}

.feynman__title {
  grid-area: title;
  text-align: center;
  align-self: center;
  margin: 0;
  width: 40%;
  text-align: center;
  font-style: normal;
  font-size: 78px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 1.15;
  z-index: 3;
  justify-self: center;
}

.feynman__content_title {
  grid-area: content-title;
  justify-self: center;
  margin-top: 30px;
  text-align: right;
  font-style: normal;
  font-size: 22px;
  font-weight: normal;
  line-height: 1.15;
  z-index: 3;
}

.feynman__content_seletor {
  grid-area: content-seletor;
  color: #4689ff;
  font-size: 22px;
  z-index: 3;
  text-align: end;
}

.feynman__content_seletor:after {
  content: " →";
  color: #4689ff;
}

@media (min-width: 1790px) {
  .feynman {
    padding-bottom: 265px;
  }
}
