* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
  margin-right: auto; /*centralizar o bloco*/
  margin-left: auto; /*centralizar o bloco*/
}
